{% extends "MenuPrincipal.html" %} 
{% block titulo %} Añadir Categoria {% endblock %}
{% block contenido %} 

<div class="card">
    <div class="card-header">
        Crear una nueva categoria.
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos de la categoria</h4>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for campo in formulario %}
                <div class="mb-3">
                    <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>

                    {% if campo.name == 'DESCRIPCION_CATEGORIA' %}
                         <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" placeholder="{{ campo.label }}" pattern="[A-Za-z ñÑ]*" title="Solo se permiten letras, mayusculas y minusculas">

                    {% else %}
                        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" placeholder="{{ campo.label }}" pattern="[AI]*" title="Solo se permite Activo (A) o Inactivo (I)">
                    {% endif %}
                </div>
                <div class="col-12 help-text">{{ campo.errors }}</div>
            {% endfor %}
            <input type="submit" class="btn btn-success" value="Añadir">
        </form>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}