{% extends "MenuPrincipal.html" %} 
{% block titulo %} Categorias {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearCategoria' %}" role="button">Nueva Categoria</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Categorias</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID de la categoria</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for Cat in Cat %}
                        <td>{{ Cat.ID_CATEGORIA }}</td>
                        <td>{{ Cat.DESCRIPCION_CATEGORIA }}</td>
                        <td>{{ Cat.ESTADO_PRODUCTO }}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'EditarCategoria' Cat.ID_CATEGORIA %}" role="button">Editar</a></td>
                        <td><a name="" id="" class="btn btn-danger" href="{% url 'BorrarCategoria' Cat.ID_CATEGORIA %}" role="button">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
{% endblock %}