body {
    /*background-color: #B0E0E6;*/
    margin: 0;
    padding: 0;
    background-image: url('../static/img.jpg');
    background-size: cover;
    background-position: center;

  }

.nav{
    background-color: #FFD1DC;
}

  .navbar {
    background-color: #0c0c0c;
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  .navbar-brand {
    color: #283747 !important;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

  .navbar a {
    color: #0c0c0c;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
  }

  .navbar a:hover {
    color: #4e97e3;
  }
