{% extends "MenuPrincipal.html" %} 
{% block titulo %} Proveedores {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearProveedor' %}" role="button">Nuevo Proveedor</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Proveedores registrados</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID del proveedor</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Correo de contacto</th>
                        <th scope="col">Telefono de contacto</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for prov in prov %}
                        <td>{{ prov.ID_PROVEEDOR }}</td>
                        <td>{{ prov.NOMBRE_PROVEEDOR }}</td>
                        <td>{{ prov.DIRECCION_PROVEEDOR }}</td>
                        <td>{{ prov.CORREO_PROVEEDOR }}</td>
                        <td>{{ prov.TELEFONO_PROVEEDOR }}</td>
                        <td>{{ prov.ESTADO_PROVEEDOR }}</td>
                        <td><a name="" id="" class="btn btn-danger" href="" role="button">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
{% endblock %}