{% extends "MenuPrincipal.html" %} 
{% block titulo %} Movimientos de productos {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Movimientos de productos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID del movimiento</th>
                        <th scope="col">Producto al que se le realizo el movimiento</th>
                        <th scope="col">descripcion del movimiento</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for Productos in Productos %}
                        <td>{{ Productos.ID_MOVIMIENTO }}</td>
                        <td>{{ Productos.ID_PRODUCTO_MOVIMIENTO.DESCRIPCION_PRODUCTO }}</td>
                        <td>{{ Productos.DESCRIPCION_MOVIMIENTO }}</td>
                        <td>{{ Productos.CANTIDAD_MOVIMIENTO }}</td>
                        <td>{{ Productos.FECHA_MOVIMIENTO }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
{% endblock %}