{% extends "MenuPrincipal.html" %} 
{% block titulo %} Facturas {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearFactura' %}" role="button">Nueva Factura</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Facturas generadas</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID de la factura</th>
                        <th scope="col">Cliente al  que se le hizo la factura</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad vendida</th>
                        <th scope="col">Subtotal de la factura</th>
                        <th scope="col">Total de la factura</th>
                        <th scope="col">Descuento en la factura</th>
                        <th scope="col">IVA en la factura</th>
                        <th scope="col">Saldo en la factura</th>
                        <th scope="col">Fecha de la factura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for facturas in facturas %}
                        <td>{{ facturas.ID_FACTURA }}</td>
                        <td>{{ facturas.ID_CLIENTE_FACTURA.NOMBRE_CLIENTE }}</td>
                        <td>{{ facturas.ID_PRODUCTO_FACTURA.DESCRIPCION_PRODUCTO }}</td>
                        <td>{{ facturas.CANTIDAD_VENDIDA }}</td>
                        <td>{{ facturas.SUBTOTAL_FACTURA }}</td>
                        <td>{{ facturas.TOTAL_FACTURA }}</td>
                        <td>{{ facturas.DESC_FACTURA }}</td>
                        <td>{{ facturas.IVA_FACTURA }}</td>
                        <td>{{ facturas.SALDO_FACTURA }}</td>
                        <td>{{ facturas.FECHA_FACTURA }}</td>
                        <td><a name="" id="" class="btn btn-info" href="" role="button">Editar</a></td>
                        <td><a name="" id="" class="btn btn-danger" href="" role="button">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
{% endblock %}